//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
// $primary: #fbb515;
// $body-bg: #F9F9F9
$main-color: #900D14;
$light-grey-color: #EDEDED;
$warning: #FFDA40;