<div class="content-wrapper container-xxl p-0 rounded">

    <div class="pt-5 pb-5">
      <div class="row">
        
        <div class="col-12 success_icon text-center mb-3">
          <img src="./assets/images/icons/ic_pay_success.png" alt="">
        </div>
        
        <div class="col-12 text-center mb-3">
          
          <h3 class="mb-3"><b>Giao dịch thành công</b></h3>
          <p>
            Giao dịch của bạn đã hoàn thành. Để xem chi tiết, bạn hãy kiểm tra lại lịch sử giao dịch.
          </p>
        </div>
      </div>
      <div class="row mt-5 row-home-btn">
        <div class="col-12 text-center">
          <div class="home-btn rounded-circle" routerLink="/">
            <img src="./assets/images/icons/ic_home.png" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
