<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a  href="#" class=" nav-link d-flex align-items-center fw-bold"> <span class="icon-custom icon-dongten me-2"></span> DÒNG TÊN</a>
          </li>
          <li class="nav-item">
              <a href="#"  class="nav-link d-flex align-items-center fw-bold"><span class="icon-custom icon-suvu me-2"></span><span>SỨ VỤ</span></a>
          </li>
          <li class="nav-item">
              <a  href="#"  class=" nav-link d-flex align-items-center fw-bold"><span class="icon-custom icon-linhdao me-2"></span>LINH ĐẠO</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#"><img src="/assets/images/logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#"  class="nav-link d-flex align-items-center fw-bold"><span class="icon-custom icon-suytu me-2"></span><span>SUY TƯ</span></a>
        </li>
        <li class="nav-item">
          <a href="#"  class="nav-link d-flex align-items-center "><span class="icon-custom icon-podcast me-2"></span><span>PODCAST</span></a>
        </li>
        <li class="nav-item">
          <a href="#"  class="nav-link d-flex align-items-center fw-bold"><span class="icon-custom icon-news me-2"></span><span>TIN TỨC</span></a>
        </li>

        <li class="nav-item item-search">
          <a href="#"  class="nav-link d-flex align-items-center"><span class="icon-custom icon-search"></span></a>
        </li>
      </ul>
  </div>
</div>
</nav>