<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item item-account dropdown" *ngIf="currentUser">
          <a href="#" class="nav-link d-flex align-items-center" data-bs-toggle="dropdown">
            <img src="{{ currentUser.image }}" alt=""  class="rounded-circle" width="30px">
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/forum">Diễn đàn</a></li>
            <li><a class="dropdown-item" routerLink="/account/profile">Tài khoản</a></li>
            <li><a class="dropdown-item" routerLink="[]" (click)="logOut()">Đăng xuất</a></li>
          </ul>
        </li>
        <li class="nav-item {{ item.menu_item_show_template ? 'dropdown has-megamenu' : '' }} " *ngFor="let item of listMenusLeft">
          <ng-container [ngTemplateOutlet]="nav_link_item" [ngTemplateOutletContext]="{item: item}"></ng-container>
        </li>

          <!-- <li class="nav-item active">
              <a  href="#" class=" nav-link fw-bold text-black"> <span class="icon-custom align-middle icon-dongten icon-custom-20 me-2"></span> DÒNG TÊN</a>
          </li> -->
          <!-- <li class="nav-item dropdown has-megamenu">
              <a href="#" (click)="onClickMenu()"  class="nav-link fw-bold dropdown-toggle text-black" data-bs-toggle="dropdown"><span class="icon-custom align-middle icon-suvu icon-custom-20 me-2"></span><span>SỨ VỤ</span></a>

              <div class="dropdown-menu megamenu" role="menu">
                <div class="container suvu p-4">
                  <div class="row g-3">
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/dan_duong_den_voi_chua.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Dẫn Đường</h3>
                            <h6 class="title text-white">đến với Thiên Chúa</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-covoongoi icon-custom-20 me-2"></span> Cổ Võ Ơn Gọi</a>
                          </div>
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-tongdogiaoxu icon-custom-20 me-2"></span> Tông Đồ Giáo Xứ</a>
                          </div> 
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-nhalinhthao icon-custom-20 me-2"></span> Nhà Linh Thao</a>
                          </div>                          
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/cung_di_voi_nguoi_ngheo.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Cùng Đi</h3>
                            <h6 class="title text-white">với người nghèo và người bị loại trừ</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-linhhuongchungvien icon-custom-20 me-2"></span> Linh Hướng Chủng Viện</a>
                          </div>
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-tongdosinhvien icon-custom-20 me-2"></span> Tông Đồ Sinh Viên</a>
                          </div>                          
                        </div>
                      </div>  
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/dong_hanh_voi_nguoi_tre.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Đồng Hành</h3>
                            <h6 class="title text-white">với người trẻ</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-chamsocgiadinhtre icon-custom-20 me-2"></span>Chăm Sóc Gia Đình Trẻ</a>
                          </div>
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-trungtamlinhdao icon-custom-20 me-2"></span> Trung Tâm Linh Đạo</a>
                          </div>  
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-loanbaotinmung icon-custom-20 me-2"></span> Loan Báo Tin Mừng</a>
                          </div>   
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-gioitrethanhthe icon-custom-20 me-2"></span> Giới Trẻ Thánh Thể</a>
                          </div>                           
                        </div>
                      </div> 
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/cham_soc_ngoi_nha_chung.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Chăm Sóc</h3>
                            <h6 class="title text-white">Ngôi nhà chung của chúng ta</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-home icon-custom-20 me-2"></span> Chăm Sóc Ngôi Nhà Chung</a>
                          </div>
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-xahoi icon-custom-20 me-2"></span> Tông Đồ Xã Hội</a>
                          </div>                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-top mt-5">

                  </div>
                  <div class="row g-3 mt-5">
                    <div class="col-md-3 mt-0">
                      <h3 class="fw-bold">Sứ Vụ Khác</h3>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-truyenthong icon-custom-20 me-2"></span> Văn Phòng Truyền Thông</a>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-vanphong icon-custom-20 me-2"></span> Văn Phòng Phát Triển</a>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-giaoduc icon-custom-20 me-2"></span> Giáo Dục</a>
                    </div>
                  </div>
                </div>
                
              </div>
          </li> -->
          <!-- <li class="nav-item">
              <a  href="#"  class=" nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-linhdao me-2"></span>LINH ĐẠO</a>
          </li> -->
      </ul>
  </div>
  <div class="mx-auto order-0" *ngIf="logoMenu">
      <a href="/" class="navbar-brand mx-auto" href="#"><img src="{{ logoMenu.image }}" alt="{{ logoMenu.title }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {{ item.menu_item_show_template ? 'dropdown has-megamenu' : '' }} " *ngFor="let item of listMenusRight">
          <ng-container [ngTemplateOutlet]="nav_link_item" [ngTemplateOutletContext]="{item: item}"></ng-container>
          <!-- <a href="{{ item.menu_item_url ? item.menu_item_url : '#' }}"  class="nav-link fw-bold text-black">
            <span class="icon-custom align-middle icon-custom-20 {{ getJsonValue(item.details, 'icon') }} me-2"></span>
            <span>{{ item.title }}</span>
          </a> -->
        </li>

        <!-- <li class="nav-item">
          <a href="#"  class="nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-suytu me-2"></span><span>SUY TƯ</span></a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink= "/podcast"    class="nav-link fw-bold text-black" ><span class="icon-custom align-middle icon-custom-20 icon-podcast me-2"></span><span>PODCAST</span></a>
        </li>
        <li class="nav-item">
          <a href="#"  class="nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-news me-2"></span><span>TIN TỨC</span></a>
        </li> -->

        <li class="nav-item item-search">
          <a href="#" (click)="onOpenSearch()"  class="nav-link d-flex align-items-center"><span class="icon-custom icon-custom-20 align-middle icon-search"></span></a>
        </li>
      </ul>
  </div>
</div>
</nav>

<ng-template #nav_link_item let-item="item">
  
    <a  routerLink="{{ item.menu_item_url ? item.menu_item_url : [] }}"  class="nav-link position-relative fw-bold text-black {{ item.menu_item_show_template ? 'dropdown-toggle' : '' }} " 
    [attr.data-bs-toggle]="item.menu_item_show_template ? 'dropdown' : ''"
    >
      <span class="icon-custom align-middle icon-custom-20 {{ getJsonValue(item.details, 'icon') }} me-2"></span>
      <span>{{ item.title }}</span>
    </a>
    
    <div class="dropdown-menu megamenu" role="menu" *ngIf="item.menu_item_show_template">
      <!-- <div class="arrow"></div> -->
      <div class="container suvu ">
          <ng-container *ngIf="item.menu_item_show_template == 'template_1'">
            <div class="p-4">
            <div class="row g-3">
              <div class="col-lg-3 col-6" *ngFor="let itemC of filterHasChilds(item.childs)">
                <div class="col-megamenu">
                  <div class="position-relative ">
                    <img src="{{ itemC.image }}" alt="" class="rounded w-100">
                    <div class="position-absolute w-100 ps-2">
                      <h3 class="text-white mb-0">{{ itemC.title }}</h3>
                      <h6 class="title text-white">{{ itemC.description }}</h6>
                    </div>
                  </div>
              
                  <div class="mt-3">
                    <div class="mb-2" *ngFor="let itemC2 of itemC.childs">
                      <a href="" class="text-black"> <span class="icon-custom align-middle {{ getJsonValue(itemC2.details, 'icon') }} icon-custom-20 me-2"></span>
                        {{ itemC2.title }}</a>
                    </div>
                  </div>
                </div> <!-- col-megamenu.// -->
              </div>
            </div>
            <div class="border-top mt-5">

            </div>
            <div class="row g-3 mt-5">
              <div class="col-md-3 mt-0">
                <h3 class="fw-bold">Sứ Vụ Khác</h3>
              </div>
              <div class="col-md-3 mt-0" *ngFor="let item of filterHasChilds(item.childs, false)">
                <a href="" class="text-black"> <span class="icon-custom align-middle {{ getJsonValue(item.details, 'icon') }} icon-custom-20 me-2"></span> 
                {{ item.title }}
              </a>
              </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="item.menu_item_show_template == 'template_2'">
            <div class="p-4">
            <div class="row">
              <div class="col-md-4" *ngFor="let itemC of item.childs">
                <div class="row">
                  <div class="col-md-3">
                    <div class="ratio ratio-1x1 shadow-sm">
                      <span class="icon-custom {{ getJsonValue(itemC.details, 'icon') }} icon-custom-30 center-vertical-horiz"></span>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <a href="" class="fw-bold text-black">{{ itemC.title }}</a>
                    <p>{{ itemC.description }}</p>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </ng-container>
          <ng-container *ngIf="item.menu_item_show_template == 'template_3'">
            <div class="row template_3">
              <div class="col-md-3 p-3 list-menu" style="background-color: #F5F5F5;">
                <div class="py-2" *ngFor="let itemC of item.childs" (mouseenter)="onHoverItemMega3(itemC)" (mouseleave)="onLeaveItemMega3()">
                  <a  href="" class="text-black"> <span class="icon-custom align-middle {{ getJsonValue(itemC.details, 'icon') }} icon-custom-20 me-2"></span> 
                    {{ itemC.title }}</a>
                </div>
              </div>
              <div class="col-md-9  p-3">
                <div class="{{ !idDisplay ? 'row': 'd-none' }}">
                  <div class="col-md-3" *ngFor="let itemNews of item.l_items">
                    <div>
                      <img src="" alt="" class="w-100 rounded" [src]="itemNews.image">
                    </div>
                    <div>
                      <a class="fw-bold text-black">{{ itemNews.title }}</a>
                    </div>
                  </div>
                </div>
                <div class=" {{ itemC.id == idDisplay ? 'row': 'd-none' }}" *ngFor="let itemC of item.childs">
                  <div class="col-md-3" *ngFor="let itemNews of itemC.l_items">
                    <div>
                      <img src="" alt="" class="w-100 rounded" [src]="itemNews.image">
                    </div>
                    <div>
                      <a class="fw-bold text-black">{{ itemNews.title }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
      </div>
    </div>
</ng-template>

<ng-template #modalSearch let-modal>
  <div class="modal-header">
    <!-- <h5 class="modal-title" id="myModalLabel160">Chi tiết</h5> -->
    <button
      type="button"
      class="close"
      (click)="modalClose()"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0">
    <div class="form-group has-search">
      <span class="icon-custom icon-custom-20 icon-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Nhập thông tin tìm kiếm">
    </div>
    <div class="row mt-5">
      <div class="col-12 mb-3">
        <h3 class="text-horizontal-line text-main-color"><span>Đáng chú ý</span></h3>
      </div>
      <div class="col-6 mb-4 item-news-search" *ngFor="let item of listNews; index as i">
        <div class="d-flex align-items-end">
          <span class="text-super-large text-light-grey fw-bold index">
            {{ i+1 }}
          </span>
          <div class="row">
            <div class="col-md-4">
              <img src="{{ item.image }}" alt="" class="rounded w-100 h-100">
            </div>
            <div class="col-md-8">
              <h2 class="fw-bold">{{ item.title }}</h2>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>