<nav class="navbar navbar-expand-md navbar-light bg-white">
  <div class="container">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a  href="#" class=" nav-link fw-bold text-black"> <span class="icon-custom align-middle icon-dongten icon-custom-20 me-2"></span> DÒNG TÊN</a>
          </li>
          <li class="nav-item dropdown has-megamenu">
              <a href="#"  class="nav-link fw-bold dropdown-toggle text-black" data-bs-toggle="dropdown"><span class="icon-custom align-middle icon-suvu icon-custom-20 me-2"></span><span>SỨ VỤ</span></a>

              <div class="dropdown-menu megamenu" role="menu">
                <div class="container suvu p-4">
                  <div class="row g-3">
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/dan_duong_den_voi_chua.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Dẫn Đường</h3>
                            <h6 class="title text-white">đến với Thiên Chúa</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-covoongoi icon-custom-20 me-2"></span> Cổ Võ Ơn Gọi</a>
                          </div>
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-tongdogiaoxu icon-custom-20 me-2"></span> Tông Đồ Giáo Xứ</a>
                          </div> 
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-nhalinhthao icon-custom-20 me-2"></span> Nhà Linh Thao</a>
                          </div>                          
                        </div>
                      </div>  <!-- col-megamenu.// -->
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/cung_di_voi_nguoi_ngheo.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Cùng Đi</h3>
                            <h6 class="title text-white">với người nghèo và người bị loại trừ</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-linhhuongchungvien icon-custom-20 me-2"></span> Linh Hướng Chủng Viện</a>
                          </div>
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-tongdosinhvien icon-custom-20 me-2"></span> Tông Đồ Sinh Viên</a>
                          </div>                          
                        </div>
                      </div>  <!-- col-megamenu.// -->
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/dong_hanh_voi_nguoi_tre.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Đồng Hành</h3>
                            <h6 class="title text-white">với người trẻ</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-chamsocgiadinhtre icon-custom-20 me-2"></span>Chăm Sóc Gia Đình Trẻ</a>
                          </div>
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-trungtamlinhdao icon-custom-20 me-2"></span> Trung Tâm Linh Đạo</a>
                          </div>  
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-loanbaotinmung icon-custom-20 me-2"></span> Loan Báo Tin Mừng</a>
                          </div>   
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-gioitrethanhthe icon-custom-20 me-2"></span> Giới Trẻ Thánh Thể</a>
                          </div>                           
                        </div>
                      </div>  <!-- col-megamenu.// -->
                    </div>
                    <div class="col-lg-3 col-6">
                      <div class="col-megamenu">
                        <div class="position-relative ">
                          <img src="/assets/images/cham_soc_ngoi_nha_chung.png" alt="" class="rounded w-100">
                          <div class="position-absolute w-100 ps-2">
                            <h3 class="text-white mb-0">Chăm Sóc</h3>
                            <h6 class="title text-white">Ngôi nhà chung của chúng ta</h6>
                          </div>                          
                        </div>
                        
                        <div class="mt-3">
                          <div class="mb-2">
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-home icon-custom-20 me-2"></span> Chăm Sóc Ngôi Nhà Chung</a>
                          </div>
                          <div>
                            <a href="" class="text-black"> <span class="icon-custom align-middle icon-xahoi icon-custom-20 me-2"></span> Tông Đồ Xã Hội</a>
                          </div>                          
                        </div>
                      </div>  <!-- col-megamenu.// -->
                    </div>
                  </div>
                  <div class="border-top mt-5">

                  </div>
                  <div class="row g-3 mt-5">
                    <div class="col-md-3 mt-0">
                      <h3 class="fw-bold">Sứ Vụ Khác</h3>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-truyenthong icon-custom-20 me-2"></span> Văn Phòng Truyền Thông</a>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-vanphong icon-custom-20 me-2"></span> Văn Phòng Phát Triển</a>
                    </div>
                    <div class="col-md-3 mt-0">
                      <a href="" class="text-black"> <span class="icon-custom align-middle icon-giaoduc icon-custom-20 me-2"></span> Giáo Dục</a>
                    </div>
                  </div>
                </div>
                
              </div>
          </li>
          <li class="nav-item">
              <a  href="#"  class=" nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-linhdao me-2"></span>LINH ĐẠO</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#"><img src="/assets/images/logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#"  class="nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-suytu me-2"></span><span>SUY TƯ</span></a>
        </li>
        <li class="nav-item">
          <a href="#"  class="nav-link fw-bold text-black" ><span class="icon-custom align-middle icon-custom-20 icon-podcast me-2"></span><span>PODCAST</span></a>
        </li>
        <li class="nav-item">
          <a href="#"  class="nav-link fw-bold text-black"><span class="icon-custom align-middle icon-custom-20 icon-news me-2"></span><span>TIN TỨC</span></a>
        </li>

        <li class="nav-item item-search">
          <a href="#"  class="nav-link d-flex align-items-center"><span class="icon-custom icon-custom-20 align-middle icon-search"></span></a>
        </li>
      </ul>
  </div>
</div>
</nav>