.navbar-brand img {
  width: 60px;
}
.navbar-nav {
  align-items: center;
}
.navbar .navbar-nav .nav-link {
  // color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}
@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 60px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

.item-search {
  .nav-link {
    border-left: 1px solid #EDEDED;
  }
}

.item-news-search {
  .index {
    width: 40px;
    line-height: 50px;
    opacity: 0.8;
  }
}

.template_3 {
  .list-menu {
    // a {
    //   pointer-events: auto;      
    // }
    div {
      pointer-events: auto; 
      &:hover {
        background-color: #FFE8E8;   
      }
      // &:has(a:hover) {
      //   background-color: #FFE8E8;   
      // }
    }
    
  }
}

.arrow {
  &::after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
  }
}

.nav-item {
  &.dropdown {
    .nav-link {
      &.show {
        &::before {
          content: "";
          display: block;
          border: 8px solid transparent;
          border-bottom-color: #ffffff;
          position: absolute;
          top: 45px;
          left: 50%;
          transform: translate(-50%, 0%);
        }
      }
      
    }
    
  }
}