
<div class="container " >

    <section id="slider" class="section" style="height: 550px;">
        <div class="slider">
          <div class="slider__container">
            <div class="slider__item slide-inha">
              <div class="slider__content h-100">
                <div class="row h-100">
                    <div class="col-6">
                        <div class="column" style="margin-top: 50px;"><img src="/assets/images/slide1-inha.png" class="image burger w-100"></div>
                    </div>
                    <div class="col-6 position-relative">
                        <div class="text-center position-absolute center-vertical-horiz title">
                            <h3 class="text-script" style="font-size: 50px;">Thánh</h3>
                            <h3 class="fw-bold text-main-color" style="font-size: 60px;">I-nhã Loyola</h3>
                            <h3 class="fw-bold" style="font-size: 30px;">Đấng sáng lập <span class="text-underline-style">Dòng Tên</span></h3>
                            <div>
                                <button type="button" class="btn btn-danger rounded-pill me-3" >Lịch sử Hội dòng</button>
                                <button type="button" class="btn btn-danger rounded-pill" >Tầm Nhìn - Sứ Mạng - Giá Trị</button>
                            </div>
                        </div>
                    </div>
                </div>
               
              </div>
            </div>
            <div class="slider__item slide-astronaut">
              <div class="slider__content h-100">
                <div class="row h-100">
                    <div class="col-8">
                        <div class="title" style="padding-top: 100px; padding-left: 70px;">
                            <div class="mb-3">
                                <button type="button" class="btn btn-danger rounded-pill me-3" >Trở thành tu sĩ dòng Tên</button>
                            </div>
                            <p class="text-wrap">Nếu bạn là những người nam, Công Giáo, tuổi từ 17, có sức khỏe tốt, ao ước phụng sự Chúa, phục vụ con người trong Giáo Hội Công Giáo.</p>
                            
                        </div>
                    </div>
                    <div class="col-4 h-100">
                        <div class="position-relative h-100"  ><img style="bottom: 0; right: 0;" src="/assets/images/slide2-thanh.png" class="position-absolute image astronaut"></div>
                    </div>
                </div>
                
              </div>
            </div>
            <!-- <div class="slider__item slide-coffee">
              <div class="slider__content h-100">
                <div class="column">
                  <h1 class="title">I Love</h1>
                  <h1 class="title">Coffee</h1>
                </div>
                <div class="column"><img src="https://mverissimo.github.io/tweenslideshow/dist/assets/images/cup-2.png" class="image cup"></div>
              </div>
            </div> -->
          </div>
        </div>
      </section>

    <div class="row mt-4">
        <div class="col-md-6 ">
            <div class="bg-gradient-main-color position-relative rounded pt-5 pb-4 pe-5" style="height: 200px;">
            <img class="position-absolute absolute-center-vertical" width="250px" style="left: -30px" src="/assets/images/logo_golden.png" alt="">
            <div class="float-end text-center">
                <h2 class="fw-bold text-white m-0">TRỞ THÀNH</h2>
                <h2 class="fw-bold text-white">TU SĨ</h2>
                <h2 class="text-white text-script" style="font-size: 70px; margin-top: -40px;">dòng Tên</h2>
                <button type="button" class="btn btn-warning rounded-pill" style="margin-top: -20px; margin-left: 120px;">Tuyển sinh</button>
            </div>
        </div>
        </div>

        <div class="col-md-6 ">
            <div class="bg-gradient-black position-relative rounded pt-5 pb-4 pe-5" style="height: 200px;">
            <img class="position-absolute" height="250px" style="left: 30px; bottom: 0;" src="/assets/images/thanh_dong_ten.png" alt="">
            <div class="float-end text-center">
                <h2 class="fw-bold text-white m-0">LINH THAO</h2>                
                <h2 class="text-white text-script" style="font-size: 70px; margin-top: -25px;">dòng Tên</h2>
                <button type="button" class="btn btn-warning rounded-pill" style="margin-top: -20px; margin-left: 120px;">Đăng ký</button>
            </div>
        </div>
        </div>
    </div>
    <div class="row top_news mt-5">
        <div class="col-12 col-md-3 pe-md-5" *ngIf="homeData[groupCode.TOP_HOME_NOIBAT]">
            <div class="mb-4 d-flex align-items-end section-title">
                <h2 class="p-0 m-0 main-title fw-bold">{{ homeData[groupCode.TOP_HOME_NOIBAT].group.title }}</h2>
                <img src="/assets/images/icons/hot_news.svg" alt="" class="ms-2">
            </div>
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let item of homeData[groupCode.TOP_HOME_NOIBAT].items">
                    <img src="{{ item.image }}" alt="" class="img-thumb-large rounded img-fluid">
                    <h2 class="fw-bold mt-2 title-2-lines">{{ item.title }}</h2>
                    <p class="text-body">{{ item.description }}</p>
                    <div>
                        
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-12 col-md-9 newest " *ngIf="homeData[groupCode.TOP_HOME_NEWEST] && homeData[groupCode.TOP_HOME_NEWEST].items">
            <div class="mb-4 d-flex align-items-end section-title">
                <h2 class="p-0 m-0 main-title fw-bold">{{ homeData[groupCode.TOP_HOME_NEWEST].group.title }}</h2>
                <img src="/assets/images/icons/news.svg" alt="" class="ms-2">
            </div>
            <div class="row">
                <div class="col-6 col-md-4" *ngFor="let item of homeData[groupCode.TOP_HOME_NEWEST].items.slice(0,3)">
                    <div class="card p-3 border-0" >
                        <img src="{{ item.image }}" class="img-thumb-large card-img-top rounded" alt="...">
                        <span *ngIf="item.item_taxonomies && item.item_taxonomies[0] && item.item_taxonomies[0].taxonomy" class="badge rounded-pill text-bg-warning me-2">
                            {{ item.item_taxonomies[0].taxonomy.title }}
                        </span>
                        <div class="pt-3 pb-3">
                          <h5 class="card-title fw-bold title-2-lines">{{ item.title }}</h5>
                          <p class="card-text text-body text-3-lines">{{ item.description }}</p>
                        </div>
                        <div class="pt-2 pb-2 border-top">
                          <span class="float-start text-muted">{{ item.created_at | dateAgo }}</span>
                          <a href="#" class="float-end text-muted"><img src="/assets/images/icons/share.svg" alt=""></a>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row mt-5 custom-scrollbar" style="height: 300px;" *ngIf="homeData[groupCode.TOP_HOME_NEWEST].items.length > 3">
                <div class="col-12">
                    <div class="row" *ngFor="let item of homeData[groupCode.TOP_HOME_NEWEST].items.slice(3, homeData[groupCode.TOP_HOME_NEWEST].items.length)">
                        <div class="col-2">
                            <img src="{{ item.image }}" alt="" class="img-thumb-small rounded img-fluid">
                        </div>
                        <div class="col-10">
                            <div class="mb-1" *ngIf="item.item_taxonomies && item.item_taxonomies[0] && item.item_taxonomies[0].taxonomy">
                                <span class="text-main-color">{{ item.item_taxonomies[0].taxonomy.title }}</span>
                            </div>
                            <div>
                                <h3 class="fw-bold title-2-lines">{{ item.title }}</h3>
                            </div>
                            <div>
                                <p class="text-body text-3-lines">{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pray_podcast mt-5">
        <div class="col-12 col-md-5 pe-md-5">
            <div class="d-flex align-items-center">
                <img src="/assets/images/icons/mangluoicaunguyen.svg" alt="" class="h-100">
                <div class="ms-2">
                    <h4 class="fw-bold mb-0">Tông đồ cầu nguyện</h4>
                    <small>Mạng lưới cầu nguyện toàn cầu của Đức Giáo Hoàng</small>
                </div>
            </div>
            <div class="mt-3">
                <img src="/assets/images/sample_caunguyen.png" alt="" class="img-fluid">
                <div class="action-btn mt-3">
                    <div class="float-start d-flex align-items-center share">
                        <span class="me-3">Chia sẻ: </span>
                        <a href=""><img src="/assets/images/icons/zalo.svg" alt="" class="me-2 circle rounded-circle "></a>
                        <a href=""><img src="/assets/images/icons/facebook.svg" alt="" class="me-2 rounded-circle "></a>
                        <a href=""><img src="/assets/images/icons/instagram.svg" alt="" class="me-2 rounded-circle "></a>
                        <a href=""><img src="/assets/images/icons/copy_link.svg" alt="" class="me-2 rounded-circle "></a>
                    </div>
                    <div class="float-end">
                        <button type="button" class="btn btn-custom-3d">Lưu về máy</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7 podcast">
            <div class="hight-light">
                <div class="header d-flex align-items-end">
                    <div class="rounded image-left">
                        <img src="/assets/images/icons/head_podcast.png" alt="">
                    </div>
                    
                    <div class="text-heading">
                        <h2 class="main-title fw-bold">Podcasts</h2>
                        <h3 class="fw-bold">Truyền thông Dòng Tên</h3>
                    </div>
                </div>
                <div class="list">
                    <div class="list-header ps-3 pe-3 pt-4 pb-4 overflow-hidden">
                        <span class=" text-secondary float-start">Mới nhất</span>
                        <a href="#" routerLink="/podcast" class="float-end text-secondary">Xem tất cả</a>
                    </div>
                    <div class="list-items ps-3 pe-3 custom-scrollbar" style="height: 300px;">
                        <div class="row" *ngFor="let item of newestPodcast">
                            <div class="col-2">
                                <div class="ratio ratio-1x1">
                                    <img src="{{ item.image }}" alt="" class="img-fluid rounded">
                                </div>
                            </div>
                            <div class="col-10">
                                <h3 class="fw-bold title-2-lines">{{ item.title }}</h3>
                                <p class="text-secondary text-3-lines">{{ item.description }}</p>
                                <div class="d-flex align-items-start">
                                    <a [routerLink]="[]" (click)="onShowPlayer(item.id)" class="play-action"><img src="/assets/images/icons/play.svg" alt=""></a>
                                    <span class="text-secondary ms-4 me-2"><small>{{ item.release_date }}</small></span>
                                    <span class="ms-2 me-2 text-secondary">•</span>
                                    <span class="text-secondary"><small>{{ item.duration | convertSecondDuration }}</small></span>
                                </div>
                            </div>
                            <div class="my-3 mx-3 border-top"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="list-more mt-4">
                <h3 class="fw-bold mb-3">Nghe nhiều hơn <span>
                    <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L7 7L1 13" stroke="#0A0A0A" stroke-width="2"/>
                        </svg>
                        
                </span></h3>
                <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        >
                        <div ngxSlickItem class="slide me-2" *ngFor="let item of newest">
                            <img src="{{ item.image }}" alt="" class="img-fluid rounded">
                            <h4 class="fw-bold mt-2">{{ item.title }}</h4>
                        </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>
    <div class="mt-5 position-relative overflow-hidden animate-slide" style="height: 800px;">
        <div class="position-absolute color-over">

        </div>
        <div class="indicator"></div>
        <div id="demo">
            <div class="card-item" id="card{{i}}" style="background-image:url('{{item.image}}')" *ngFor="let item of dataLinhdao; index as i"  ></div>
            <div class="card-content" id="card-content-{{i}}" *ngFor="let item of dataLinhdao; index as i" >
                <div class="content-start"></div>
                <div class="content-place"><h2>{{item.place}}</h2></div>
                <div class="content-title-1">{{item.title}}</div>
                <div class="content-title-2">{{item.title2}}</div>
            
            </div>
        </div>
        <div class="details" id="details-even">
            <!-- <div class="place-box">
                <div class="text">Switzerland Alps</div>
            </div> -->
            <div class="title-box-1">
                <div class="title-1 text-white">{{ dataLinhdao[0].place }}</div>
            </div>
            <!-- <div class="title-box-2">
                <div class="title-2">ANTONIEN</div>
            </div> -->
            <!-- <div class="desc">
                Tucked away in the Switzerland Alps, Saint Antönien offers an idyllic retreat for those seeking tranquility
                and adventure alike. It's a hidden gem for backcountry skiing in winter and boasts lush trails for hiking
                and mountain biking during the warmer months.
            </div> -->
            <div class="cta">
                <!-- <button class="bookmark">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
                            clip-rule="evenodd" />
                    </svg>
                </button> -->
                <button class="btn btn-custom-3d">Xem thêm</button>
            </div>
        </div>
    
        <div class="details" id="details-odd">
            <!-- <div class="place-box">
                <div class="text">Switzerland Alps</div>
            </div> -->
           <div class="title-1 text-white">{{ dataLinhdao[0].place }}</div>
            <!-- <div class="title-box-2">
                <div class="title-2">ANTONIEN</div>
            </div>
            <div class="desc">
                Tucked away in the Switzerland Alps, Saint Antönien offers an idyllic retreat for those seeking tranquility
                and adventure alike. It's a hidden gem for backcountry skiing in winter and boasts lush trails for hiking
                and mountain biking during the warmer months.
            </div> -->
            <div class="cta">
                <!-- <button class="bookmark">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
                            clip-rule="evenodd" />
                    </svg>
                </button> -->
                <button class="btn btn-custom-3d">Xem thêm</button>
            </div>
        </div>
    
        <div class="pagination" id="pagination">
            <div class="arrow arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                </svg>
            </div>
            <div class="arrow arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
            </div>
            <div class="progress-sub-container">
                <div class="progress-sub-background">
                    <div class="progress-sub-foreground"></div>
                </div>
            </div>
            <div class="slide-numbers" id="slide-numbers">
                <div class="item" id="slide-item-{{ i }}" *ngFor="let item of dataLinhdao; index as i" >{{ i }}</div>
            </div>
        </div>
    
        <div class="cover"></div>
    </div>
<div class="container mt-5" style="padding-bottom: 150px;">
    <div class="row linhdao g-5">
        <div class="col-6" *ngIf="homeData[groupCode.HOME_LINHDAO_POST] && homeData[groupCode.HOME_LINHDAO_POST].items">
            <div class="mb-4 d-flex align-items-end section-title">
                <h2 class="p-0 m-0 main-title fw-bold">{{ homeData[groupCode.HOME_LINHDAO_POST].group.title }} </h2>
                <img src="/assets/images/icons/linhdao.svg" alt="" class="ms-2">
            </div>
                <div class="first-news rounded position-relative mb-2" *ngIf="homeData[groupCode.HOME_LINHDAO_POST].items[0]" >
                    <img src="{{ homeData[groupCode.HOME_LINHDAO_POST].items[0].image }}" alt="" class="w-100 rounded">
                    <div class="caption p-4 w-100">
                        <div>
                            <h2 class="text-white fw-bold title-2-lines">{{ homeData[groupCode.HOME_LINHDAO_POST].items[0].title }}</h2>
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-warning me-2"
                            *ngIf="homeData[groupCode.HOME_LINHDAO_POST].items[0].item_taxonomies && homeData[groupCode.HOME_LINHDAO_POST].items[0].item_taxonomies[0]
                             && homeData[groupCode.HOME_LINHDAO_POST].items[0].item_taxonomies[0].taxonomy">
                            {{ homeData[groupCode.HOME_LINHDAO_POST].items[0].item_taxonomies[0].taxonomy.title }} 
                            </span>
                            <span class="text-white"><i class="far fa-clock"></i> 2 gio truoc</span>
                        </div>
                    </div>
                </div>
                <div class="rounded bg-white p-2" >
                    <div *ngFor="let item of homeData[groupCode.HOME_LINHDAO_POST].items; index as i">                        
                            <div class="row mb-2" *ngIf="i > 0">
                                <div class="col-3">
                                    <div class="ratio ratio-1x1">
                                        <img src="{{ item.image }}" alt="" class="object-fit-cover img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="mb-1" *ngIf="item.item_taxonomies && item.item_taxonomies[0] && item.item_taxonomies[0].taxonomy">
                                        <small class="text-main-color">{{ item.item_taxonomies[0].taxonomy.title }}</small>
                                    </div>
                                    <h2 class="fw-bold title-2-lines">{{ item.title }}</h2>
                                    <p class="text-body text-3-lines">{{ item.description }}</p>
                                </div>
                            </div>                        
                    </div>
                </div>
           
            
        </div>

        <div class="col-6" *ngIf="homeData[groupCode.HOME_SUYTU_POST] && homeData[groupCode.HOME_SUYTU_POST].items">
            <div class="mb-4 d-flex align-items-end section-title">
                <h2 class="p-0 m-0 main-title fw-bold">{{ homeData[groupCode.HOME_SUYTU_POST].group.title }} </h2>
                <img src="/assets/images/icons/suytu.svg" alt="" class="ms-2">
            </div>
                <div class="first-news rounded position-relative mb-2" *ngIf="homeData[groupCode.HOME_SUYTU_POST].items[0]">
                    <img src="{{ homeData[groupCode.HOME_SUYTU_POST].items[0].image }}" alt="" class="w-100 rounded">
                    <div class="caption p-4 w-100">
                        <div>
                            <h2 class="text-white fw-bold title-2-lines">{{ homeData[groupCode.HOME_SUYTU_POST].items[0].title }}</h2>
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-warning me-2"
                            *ngIf="homeData[groupCode.HOME_SUYTU_POST].items[0].item_taxonomies && homeData[groupCode.HOME_SUYTU_POST].items[0].item_taxonomies[0]
                             && homeData[groupCode.HOME_SUYTU_POST].items[0].item_taxonomies[0].taxonomy">
                            {{ homeData[groupCode.HOME_SUYTU_POST].items[0].item_taxonomies[0].taxonomy.title }} 
                            </span>
                            <span class="text-white"><i class="far fa-clock"></i> 2 gio truoc</span>
                        </div>
                    </div>
                </div>
                <div class="rounded bg-white p-2" >
                    <div *ngFor="let item of homeData[groupCode.HOME_SUYTU_POST].items; index as i">                        
                            <div class="row mb-2" *ngIf="i > 0">
                                <div class="col-3">
                                    <div class="ratio ratio-1x1">
                                        <img src="{{ item.image }}" alt="" class="object-fit-cover img-fluid rounded">
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="mb-1" *ngIf="item.item_taxonomies && item.item_taxonomies[0] && item.item_taxonomies[0].taxonomy">
                                        <small class="text-main-color">{{ item.item_taxonomies[0].taxonomy.title }}</small>
                                    </div>                                   
                                    <h2 class="fw-bold title-2-lines">{{ item.title }}</h2>
                                    <p class="text-body text-3-lines">{{ item.description }}</p>
                                </div>
                            </div>                        
                    </div>
                </div>                       
        </div>
    </div>

    <div class="row mt-5 tintuc" *ngIf="homeData[groupCode.HOME_NEWS] && homeData[groupCode.HOME_NEWS].items">
        <div class="col-12">
            <div class="mb-4 d-flex align-items-end section-title">
                <h2 class="p-0 m-0 main-title fw-bold">{{ homeData[groupCode.HOME_NEWS].group.title }} </h2>
                <img src="/assets/images/icons/news.svg" alt="" class="ms-2">
            </div>
        </div>
        <div class="col-6">
            
            <div class="row" *ngIf="homeData[groupCode.HOME_NEWS].items[0]">
                <div class="col-12">
                    <img src="{{ homeData[groupCode.HOME_NEWS].items[0].image }}" alt="" class="rounded w-100 mb-2">
                    <h2 class="fw-bold title-2-lines">{{ homeData[groupCode.HOME_NEWS].items[0].title }}</h2>
                    <p class="text-body text-3-lines">{{ homeData[groupCode.HOME_NEWS].items[0].description }}</p>
                    <div class="pt-2 pb-2 border-top">
                        <span class="float-start text-muted">1 ngay truoc</span>
                        <a href="#" class="float-end text-muted"><img src="/assets/images/icons/share.svg" alt=""></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-6">
            <div class="row mt-3 custom-scrollbar" style="height: 380px;">
                <div class="col-12">
                    <div class="row" *ngFor="let item of homeData[groupCode.HOME_NEWS].items; index as i">
                        <ng-container *ngIf="i > 0">
                        <div class="col-3">
                            <img src="{{ item.image }}" alt="" class="img-thumb-medium rounded img-fluid">
                        </div>
                        <div class="col-9">
                            <div class="mb-1"  *ngIf="item.item_taxonomies && item.item_taxonomies[0] && item.item_taxonomies[0].taxonomy">
                                <span class="text-main-color">{{ item.item_taxonomies[0].taxonomy.title }}</span>
                            </div>
                            <div>
                                <h3 class="fw-bold title-2-lines">{{ item.title }}</h3>
                            </div>
                            <div>
                                <p class="text-body text-3-lines">{{ item.description }}</p>
                            </div>
                        </div>
                    </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 lienket">
        <div class="col-12">
            <img src="/assets/images/phut-cau-nguyen.png" alt="" class="rounded w-100">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="d-flex align-items-start" *ngFor="let childList of dataLienKetOrder">
                <div class="flex-fill " *ngFor="let item of childList.items">
                    <img class="" src="{{ item.image }}" alt="" >
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom_pleyer w-100" *ngIf="isShowPlayer" style="position: fixed; bottom: 0;">
    <button class="btn btn-secondary" (click)="closePlayer()" style="position: absolute; right: 0;">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 1L1 16" stroke="#C2C2C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 1L16 16" stroke="#C2C2C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
    </button>
    <app-player-audio [id]="selectedIdEpisode"></app-player-audio>
</div>