<div class="container pb-200 pt-100" >
    <div class="text-center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div id="google-btn" class="text-center">
                    <!-- <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button> -->
                    
                    <!-- <div id="g_id_onload" data-client_id="369733021691-reiknt8t9jh4je1gs1p0cv7h8799scug.apps.googleusercontent.com"
                        data-context="signin" data-ux_mode="popup" data-callback="onLoginGoogle"
                        data-auto_prompt="false">
                    </div>
                    
                    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline" data-text="signin_with"
                        data-size="large" data-logo_alignment="left">
                    </div> -->

                    <!-- <button class="btn btn-block" (click)="signInWithGoogle()"><span class="fa fa-google"></span> Đăng ký bằng google</button>       -->
                </div>
                <!-- <div>
                    <button class="btn btn-block" (click)="signInWithFB()"><span class="fa fa-facebook"></span> Đăng ký bằng faebook</button>
                </div> -->
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

