<div class="content-wrapper container-xxl p-0">

    <div class="">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">Quét mã qua ứng dụng Ngân hàng/ Ví điện tử</h3>
        </div>
      </div>
      <div class="row m-2">   
        <div class="col-12 col-md-7">
          <div class="bill p-3 ">
            <div class="bill-header mb-2" data-bs-toggle="collapse" data-bs-target="#accordionBill">
              <p>Thanh toán đơn hàng: {{ payment.pay_id }}</p>
              <div>
                <span class="money text-success">{{ payment?.amount | number }}<sup>VND</sup></span>
                <div class="float-end">
                  <span>Chi tiết</span>
                </div>
              </div>
            </div>
            <div class="bill-content pb-3 pt-3">
              <div class="bills-body accordion-collapse collapse show" id="accordionBill">
                <div>
                  <div class="bills-list list-mb24 list-last-mb">
                    <div class="bills-list-item show-desktop">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Số tiền thanh toán
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right color-primary">
                            <span id="totalAmountDt">{{ payment?.amount | number }}</span><sup>VND</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bills-list-item">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Giá trị đơn hàng
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right">
                            {{ payment?.amount | number }}<sup>VND</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bills-list-item">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Phí giao dịch
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right">
                            0<sup>VND</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bills-list-item" id="discountAmountItem" style="display: none">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Số tiền khuyến mại
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right">
                            <span id="discountAmount">0</span><sup>VND</sup>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bills-list-item show-desktop">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Mã đơn hàng
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right">
                            {{ payment?.pay_id }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="bills-list-item">
                      <div class="row">
                        <div class="col-md-12 col-5 mb4">
                          <div class="sub-title color-sub-default">
                            Nhà cung cấp
                          </div>
                        </div>
                        <div class="col-md-12 col">
                          <div class="title text-left-md-right">
                            {{ payment?.account_holder }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="col-12 col-md-5">
          <div class="text-lg-center">
            
            <div>
              <img *ngIf="payment" class="img-fluid" src="https://img.vietqr.io/image/{{ payment?.bank }}-{{
                          payment?.account_number
                        }}-print.jpg?amount={{ payment?.amount }}&addInfo={{
                            payment?.desc
                        }}&accountName={{ payment?.account_holder }}" alt="QRCODE" />
            </div>
            <!-- <div class="text-center">
                      <button type="button" class="btn btn-primary" (click)="onToHomepage()">Trở về trang chủ</button>
                    </div> -->
        
          </div>
        </div>
        
      </div>
    </div>
  </div>