.bill {
    // background-color: #f5f7f9;
    background-color: #ffe7ac;
    border-radius: 3px;
    span.money {
        font-size: 20px;
        font-weight: 500;
    }
    .bill-content {
        // border-top: 1px dashed #bfccd9;    
        border-top: 1px dashed #bba05c;    
        font-size: 13px;
        line-height: 25px;
        .bills-list-item {
            .sub-title {
                font-weight: 600;
            }
            .title {
                color: #000
            }
        }    
    }
}