<!-- Footer -->
<div class="footer-content content-wrapper container-xxl p-0">
    <div class="container pt-3 pb-3">
      <div class="border-bottom overflow-hidden position-relative logo">
        <div class="position-absolute item-left">
          <img src="/assets/images/logo2.png" alt="" class="">
        </div>
        
        <div class="position-absolute item-right">
          <a href=""><img src="/assets/images/icons/zalo.svg" alt="" class="me-2"></a>
          <a href=""><img src="/assets/images/icons/facebook.svg" alt="" class="me-2"></a>
          <a href=""><img src="/assets/images/icons/youtube.svg" alt="" class="me-2"></a>
          <a href=""><img src="/assets/images/icons/instagram.svg" alt="" class="me-2"></a>
          <a href=""><img src="/assets/images/icons/tiktok.svg" alt=""></a>
        </div>
      </div>
      <div class="row pt-5 pb-5">
  
        <div class="col-md-3">
          <h5 style="font-weight: 900;">Dòng Tên</h5>
          <div><a href="" target="_blank" class="text-white">Cổ võ ơn gọi</a></div>
          <div><a href="" target="_blank" class="text-white">Tông đồ giáo xứ</a></div>          
        </div>
  
        <div class="col-md-3">
          <h5 style="font-weight: 900;">Dòng Tên</h5>
          <div><a href="" target="_blank" class="text-white">Cổ võ ơn gọi</a></div>
          <div><a href="" target="_blank" class="text-white">Tông đồ giáo xứ</a></div>          
        </div>

        <div class="col-md-3">
          <h5 style="font-weight: 900;">Dòng Tên</h5>
          <div><a href="" target="_blank" class="text-white">Cổ võ ơn gọi</a></div>
          <div><a href="" target="_blank" class="text-white">Tông đồ giáo xứ</a></div>          
        </div>

        <div class="col-md-3">
          <h5 style="font-weight: 900;">Dòng Tên</h5>
          <div><a href="" target="_blank" class="text-white">Cổ võ ơn gọi</a></div>
          <div><a href="" target="_blank" class="text-white">Tông đồ giáo xứ</a></div>          
        </div>
  
      </div>

      <div class="container border-top"></div>
      <div class="row pt-5 pb-5">
        <div class="col-8">
          <div class="d-flex mb-3">
            <a href="" class="text-white me-4">Dòng Tên Thế Giới</a>
            <a href="" class="text-white me-4">Dòng Tên Vùng Châu Á Thái Bình Dương</a>
            <a href="" class="text-white">Trung Tâm Linh Đạo</a>
          </div>
          <div class="d-flex">
            <a href="" class="text-white me-4">Học Viện Dòng Tên Việt Nam</a>
            <a href="" class="text-white me-4">Trung Tâm Mục Vụ Gia Đình</a>
            <a href="" class="text-white me-4">Nhà Tĩnh Tâm</a>
            <a href="" class="text-white">Nhà Ứng Sinh</a>
          </div>
        </div>
        <div class="col-4 newsletter">
          <label class="mb-2" for="">Đăng ký nhận tin mới</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập Email của bạn" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Gửi</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container border-top"></div>
     
    </div>
    <!--/ Footer -->
  </div>
  
  
  
  
  
  <style>
    a {
      color: #231f20;
    }
  
    a:hover {
      color: #EB9B00
    }
  </style>