<div class="container pb-200">
    <div class="row mt-5">
        <div class="mb-4 d-flex align-items-end section-title">
            <h2 class="p-0 m-0 main-title fw-bold">Podcast mới nhất</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-3" *ngFor="let item of newest" >
            <div class="podcast-newest-item">
                <div routerLink="/podcast/{{ item.id }}">
                    <img src="{{ item.image }}" alt="" class="rounded w-100">
                    <small class="text-main-color mt-1">
                        {{ item.taxonomy.title }}
                    </small>
                </div>
                <div routerLink="/podcast/{{ item.id }}">
                    <h2 class="fw-bold" >{{ item.title }}</h2>
                    <p>{{ item.description }}</p>
                </div>
                <div class="d-flex align-items-center item-footer">
                    <div class="left">
                        <span class="text-secondary me-2"><small>{{ item.release_date }}</small></span>
                        <span class="ms-2 me-2 text-secondary">•</span>
                        <span class="text-secondary"><small>{{ item.duration | convertSecondDuration }}</small></span>
                    </div>
                    <div class="right">
                        <a [routerLink]="[]" (click)="onShowPlayer(item.id)" class="play-action"><img src="/assets/images/icons/play_grey.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12 mb-3">
            <div class="float-start">
                <h2 class="p-0 m-0 main-title fw-bold">Chủ đề nổi bật</h2>
            </div>
            <div class="float-end">
                <a href="" routerLink="/podcast/categories" class="btn btn-custom-3d">Xem tất cả</a>
            </div>
        </div>
        <div class="col-3" *ngFor="let item of highlightCategory" routerLink="/podcast/categories/{{item.name}}">
            <img src="{{ item.icon[0].url }}" alt="" class="rounded w-100">
            <div class="mt-3">
                <h2 class="fw-bold mb-1">{{ item.name }}</h2>
                <div class="d-flex align-items-center">
                    <img src="/assets/images/icons/headphone.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bottom_pleyer w-100" *ngIf="isShowPlayer" style="position: fixed; bottom: 0;">
    <button class="btn btn-secondary" (click)="closePlayer()" style="position: absolute; right: 0;">
        <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 1L1 16" stroke="#C2C2C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M1 1L16 16" stroke="#C2C2C2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
    </button>
    <app-player-audio [id]="selectedIdEpisode"></app-player-audio>
</div>