.content-wrapper {
    position: relative;
    background-color: #FDF0CF;
    border-color: #FFC425;
    height: calc(100vh - 350px);
    .success_icon {
        img {
            width: 100px;
            height: auto;
        }
    }
    .row-home-btn {
        position: absolute;
        left: 50%;
                -webkit-transform: translate(-50%);
                transform: translate(-50%);
        bottom: 10px;
        .home-btn {
            width: 85px;
            height: 85px;
            background-color: #ECB43CD9;
            margin: 0 auto;
            position: relative;
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
    
}