/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'ngx-toastr/toastr-bs5-alert';
@import 'assets/scss/variables/variables';
@import 'ngx-toastr/toastr';
@import 'ngx-toastr/toastr-bs5-alert';

@font-face {
    font-family: "SVN Poppins";
    src: url("assets/fonts/svn_poppins/SVN-Poppins-Regular.ttf");
}
@font-face {
    font-family: "SVN Poppins";
    src: url("assets/fonts/svn_poppins/SVN-Poppins-RegularItalic.ttf");
	font-style: italic;
}
@font-face {
    font-family: "SVN Poppins";
    src: url("assets/fonts/svn_poppins/SVN-Poppins-SemiBold.ttf");
	font-weight: bold;
}
@font-face {
    font-family: "SVN Poppins";
    src: url("assets/fonts/svn_poppins/SVN-Poppins-SemiBoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

@font-face {
    font-family: "SaiGon1985";
    src: url("assets/fonts/SAIGON1985.ttf");
}

body {
	background: #F9F9F9 !important;
	font-family: "SVN Poppins", sans-serif;
	font-optical-sizing: auto;
	// font-weight: 300;
	font-size: 13px;
	// line-height: 22px;
	height: 100%;
	.text-script {
		font-family: "SaiGon1985";
	}
	a {
		text-decoration: none;
	}

	h5 {
		font-size: 1.05rem;
	}

	h4 {
		font-size: 1.1rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	h1 {
		font-size: 1.3rem;
	}

	.main-title {
		font-size: 1.8rem;
	}

	b {
		font-weight: 600;
	}

	.text-body {
		color: $text-body-color;
	}

	.btn-primary {
		color: #000;
		background-color: #FFC425;
		border: #FFC425;
	}

	.btn-primary:hover {
		background-color: #c59512;
		border: #c59512;
	}

	.text-secondary {
		color: #C2C2C2 !important;
	}

	.custom-scrollbar {
		overflow-y: scroll;
		overflow-x: hidden;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		padding: 2px 0;
		background-color: #616161;
	}

	.custom-scrollbar::-webkit-scrollbar {
		width: 10px;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #9E9E9E;
	}

	.btn-custom-3d {
		background: #fff;
		border-radius: 5px;
		border-color: #757575;
		box-shadow: inset 0px -5px 0px 0px #757575;

		&:hover {
			background: #fff;
			border-color: #757575;
			box-shadow: 0px 5px 0px 0px #fff;
		}
	}

	.card {
		&:hover {
			box-shadow: 1px 19px 23px 4px rgba(138, 138, 138, 0.51);
			-webkit-box-shadow: 1px 19px 23px 4px rgba(138, 138, 138, 0.51);
			-moz-box-shadow: 1px 19px 23px 4px rgba(138, 138, 138, 0.51);
		}
	}
	.text-main-color {
		color: $main-color;
	}
	.hover-main-color {
		&:hover {
			color: $main-color;
		}
	}
	.play-action {
		&:hover {
			img {
				filter: brightness(0) saturate(100%) invert(13%) sepia(69%) saturate(4155%) hue-rotate(334deg) brightness(80%) contrast(127%); 
			  }
		}
	}
	.podcast-newest-item {
		.item-footer {
			.right{
				margin-left: auto;
				order: 2;
			}
		}
	}
	.has-search {
		position: relative;
		input.form-control {
			height: 60px;
			padding-left: 50px;
			background: $light-grey-color;
    		border: $light-grey-color;
		}
		.form-control-feedback {
			position: absolute;
			z-index: 2;
			display: block;
			width: 1.8rem;
			height: 1.8rem;
			line-height: 1.8rem;
			text-align: center;
			pointer-events: none;
			color: #aaa;
			top: 50%;
			-webkit-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
			left: 15px
		}
	}
	.text-super-large {
		font-size: 95px;
	}
	.text-light-grey {
		color: $light-grey-color;
	}
	.text-horizontal-line {
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			margin: 0 20px;
		}
		&:before,&:after {
			background: $light-grey-color;
			height: 1px;
			flex: 1;
			content: '';
		}		
	}
	.pb-200 {
		padding-bottom: 200px;
	}
	.pt-100 {
		padding-top: 100px;
	}

	.bg-gradient-main-color {
		background: linear-gradient(0deg, $main-color 0%, $main-color-gradient 100%);
	}

	.bg-gradient-black {
		background: linear-gradient(0deg, #222222 0%, #56555A 100%);
	}

	.title-2-lines {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
				line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.text-3-lines {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* number of lines to show */
				line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.img-thumb-large {
		height: 150px;
		width: auto;
		object-fit: cover;
	}

	.img-thumb-medium {
		height: 100px;
		width: auto;
		object-fit: cover;
	}

	.img-thumb-small {
		height: 90px;
		width: auto;
		object-fit: cover;
	}

	.absolute-center-vertical {
		top: 50%;    
    	transform: translate(0%, -50%);
    	left: 0;
	}
	.center-vertical-horiz {
		top: 50%;    
		left: 50%;
    	transform: translate(-50%, -50%);
	}
	.text-underline-style {
		position: relative;
		&::before {
			content: '';
			background-color: #FFDA40;
			position: absolute;
			left: 0;
			bottom: 3px;
			width: 100%;
			height: 15px;
			z-index: -1;
			transition: all .3s ease-in-out;
		}
		&:hover::before {
			bottom: 0;
  			height: 100%;
		}
	}
	.absolute-bottom-left {
		bottom: 0px;
		left: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.bg-transparent-black {
		background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
	}

	.icon-custom {
		display: inline;
		display: inline-block;		
		background-size: contain;
    	background-repeat: no-repeat;
	}
	.icon-custom-20 {
		width: 20px;
		height: 20px;
	}
	.icon-custom-40 {
		width: 40px;
		height: 40px;
	}
	.icon-custom-30 {
		width: 30px;
		height: 30px;
	}
	.icon-dongten {
		background-image: url("/assets/images/icons/dongten.svg");
	}
	.icon-suvu {
		background-image: url("/assets/images/icons/suvu.svg");
	}
	.icon-linhdao {
		background-image: url("/assets/images/icons/linhdao.svg");
	}
	.icon-suytu {
		background-image: url("/assets/images/icons/suytu.svg");
	}
	.icon-podcast {
		background-image: url("/assets/images/icons/podcast.svg");
	}
	.icon-news {
		background-image: url("/assets/images/icons/news.svg");
	}
	.icon-search {
		background-image: url("/assets/images/icons/search.svg");
	}
	.icon-covoongoi {
		background-image: url("/assets/images/icons/ic_covoongoi.svg");
	}
	.icon-tongdogiaoxu {
		background-image: url("/assets/images/icons/ic_tongdogiaoxu.svg");
	}
	.icon-nhalinhthao {
		background-image: url("/assets/images/icons/ic_nhalinhthao.svg");
	}
	.icon-linhhuongchungvien {
		background-image: url("/assets/images/icons/ic_linhhuongchungvien.svg");
	}
	.icon-tongdosinhvien {
		background-image: url("/assets/images/icons/ic_tongdosinhvien.svg");
	}
	.icon-chamsocgiadinhtre {
		background-image: url("/assets/images/icons/ic_chamsocgiadinhtre.svg");
	}
	.icon-trungtamlinhdao {
		background-image: url("/assets/images/icons/ic_trungtamlinhdao.svg");
	}
	.icon-loanbaotinmung {
		background-image: url("/assets/images/icons/ic_loanbaotinmung.svg");
	}
	.icon-gioitrethanhthe {
		background-image: url("/assets/images/icons/ic_gioitrethanhthe.svg");
	}
	.icon-home {
		background-image: url("/assets/images/icons/ic_home.svg");
	}
	.icon-xahoi {
		background-image: url("/assets/images/icons/ic_xahoi.svg");
	}
	.icon-truyenthong {
		background-image: url("/assets/images/icons/ic_truyenthong.svg");
	}
	.icon-vanphong {
		background-image: url("/assets/images/icons/ic_vanphong.svg");
	}
	.icon-giaoduc {
		background-image: url("/assets/images/icons/ic_giaoduc.svg");
	}

	.icon-lichsu {
		background-image: url("/assets/images/icons/ic_lichsu.svg");
	}
	.icon-tamnhin {
		background-image: url("/assets/images/icons/ic_tamnhin.svg");
	}
	.icon-dongten2 {
		background-image: url("/assets/images/icons/ic_dongten2.svg");
	}
	.icon-tuongnho {
		background-image: url("/assets/images/icons/ic_tuongnho.svg");
	}
	.icon-baovetreem {
		background-image: url("/assets/images/icons/ic_baovetreem.svg");
	}
	.icon-lienhe {
		background-image: url("/assets/images/icons/ic_lienhe.svg");
	}

	.icon-eye {
		background-image: url("/assets/images/icons/ic_eye.svg");
	}

	.icon-comments {
		background-image: url("/assets/images/icons/ic_comments.svg");
	}

	.icon-time {
		background-image: url("/assets/images/icons/ic_time.svg");
	}
	.icon-dtc {
		background-image: url("/assets/images/icons/ic_dtc.svg");
	}
	.icon-giaohoihoanvu {
		background-image: url("/assets/images/icons/ic_giaohoihoanvu.svg");
	}
	.icon-giaohoivietnam {
		background-image: url("/assets/images/icons/ic_giaohoivietnam.svg");
	}

	.zindex-50 {
		z-index: 50;
	}
	.zindex_1 {
		z-index: -1 !important;
	}

	.overlay.active {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 55px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: -1;
		cursor: pointer;
	}

}

@media all and (min-width: 992px) {
	.navbar {
		.has-megamenu {
			position:static!important;
		}
		.megamenu{
			left:0; right:0; width:100%; margin-top:0; 
			border: none;
			background: transparent;
			.container {
				background: #fff;
				border-radius: 5px;
				z-index: 9999;
				position: relative;
				// margin-top: 20px;
				&.suvu {
					.position-absolute {
						border-bottom-left-radius: 5px;
						border-bottom-right-radius: 5px;
						bottom: 0;
						background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
					}
				}
			} 
		}
	}
  
  }	