<div class="container pb-200 pt-100" >
    <div class="row px-md-5  px-2">
        <app-breadcrumb [breadcrumb]="contentHeader.breadcrumb" ></app-breadcrumb>
    </div>
    <div class="row mt-md-5 mt-3 px-md-5  px-2">
        <h1 class="fw-bold">{{ data?.title }}</h1>
    </div>
    <div class="row px-md-5  px-2">
        <div class="d-flex align-items-center">
            <div class="d-flex align-items-center">
                <img src="{{ data?.user.image }}" alt="" width="35px" class="me-2 rounded-circle">
                <h3 class="fw-bold m-0">{{ data?.user.name }}</h3>
            </div>
            <div class="ms-4">
                <span class="icon-custom align-middle icon-time icon-custom-20 me-2"></span>
                <span>{{ data?.created_at | formatDate }}</span>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <img src="{{ data?.image }}" alt="" class="w-100">
    </div>
    <div class="row px-md-5  px-2 mt-3">
        <div [innerHTML]="data?.body"></div>
    </div>
    <div class="row px-md-5  px-2">
        <div class="justify-content-between d-flex align-items-center">
            <div class="float-start">
                Tag: 
                <a href="#" routerLink="/tag/{{ item?.taxonomy.slug }}" *ngFor="let item of listTag"> <span class="badge rounded-pill text-bg-warning me-2">{{ item?.taxonomy.title }}</span>
                
                </a>
            </div>
            <div class="float-end">

            </div>
        </div>
       
    </div>
    <div class="row px-md-5  px-2 mt-4">
        <div class="col-md-4 col-6" *ngFor="let item of listRelated">
            <div class="card p-3 border-0" >
                <img src="{{ item?.image }}" class="img-thumb-large card-img-top rounded" alt="...">
                <span *ngIf="item?.item_taxonomies && item?.item_taxonomies[0] && item?.item_taxonomies[0].taxonomy" class="badge-item-category badge rounded-pill text-bg-warning me-2">
                    {{ item?.item_taxonomies[0].taxonomy.title }}
                </span>
                <div class="pt-3 pb-3">
                  <h5 class="card-title fw-bold title-2-lines"> <a class="text-black" href="#" routerLink="/{{item?.slug}}">{{ item?.title }}</a></h5>
                  <p class="card-text text-body text-3-lines">{{ item?.description }}</p>
                </div>
                <div class="pt-2 pb-2 border-top">
                  <span class="float-start text-muted">{{ item?.created_at | dateAgo }}</span>
                  <a href="#" class="float-end text-muted"><img src="/assets/images/icons/share.svg" alt=""></a>
                </div>
              </div>
        </div>
    </div>